

body {font-family:helvetica, georgia, sans-serif;}
body {font-weight:normal;font-style:italic;font-size:1em;}
h1 {font-weight:bold;font-style:italic;font-size:32px;color:green;
text-transform:uppercase;}
body {text-align:justify;
vertical-align:baseline;}
body {word-spacing:4px;}